html {
  background: #018ded
    url(https://images.unsplash.com/photo-1439777723962-200c3f5b294e);
  background-size: cover;
  font-family: 'helvetica neue';
  text-align: center;
  font-size: 20px;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

#header {
  display: grid;
  grid-gap: 20px;
  padding: 1rem;
  align-items: center;
  direction: flex;
  flex-direction: row;
}

h3 {
  display: grid;
  margin-left: 3vw;
  grid-template-columns: 1fr auto 1fr;
  grid-gap: 20px;
  align-items: center;
}

h3:before {
  display: block;
  content: '';
  height: 10px;
  background: linear-gradient(to left, #018ded, transparent);
}
h3:after {
  display: block;
  content: '';
  height: 10px;
  background: linear-gradient(to right, #018ded, transparent);
}

h1,
h3 {
  font-family: sans-serif;
  text-align: center;
}

form {
  padding: 1rem;
}

table {
  width: 100%;
}

th {
  text-align: center;
  border: 1px solid black;
  background: #018ded;
}

tr {
  border: 1px solid black;
}

.search {
  height: 5rem;
}

input.search {
  height: 5rem;
}

img {
  height: 200px;
  width: 150px;
}
tr {
  border: 1px solid black;
  margin: 5rem;
}
